<section class="container-fluid">

  <h2>{{nombreSeccion}}</h2>
  <div class="filtros container" *ngIf="totalPosts===0">
    <label>Selecciona una categoría</label>
    <select name="" id="" (change)="recogerCategoria($event)">
      <option value="">Todas</option>
      <option value="categoria1">Categoría 1</option>
      <option value="categoria2">Categoría 2</option>
    </select>
  </div>

  <div class="container">
    <div class="flex">

      <article class="miniCont" *ngFor="let post of arrPosts" (click)="manejarEntrar(post.titulo)">

        <img [src]="post.imagen" alt="">
        <h3>{{post.titulo}}</h3>


      </article>
    </div>
  </div>
</section>
