@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');
:root {
  --color1: #fafafa;
  --color2: #2c2c2c;
  --color22: #2c2c2ccc;
  --color3:  #85e6c5;
  --color4: #38f;
  --color5: #34a;
  --color6: #bbbbbb;
  --color7: #44aa88;
  --color8: #cc4444;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background: var(--color3);
  color: var(--color2)
}

h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--color1);
  text-shadow: .065em .065em .125em var(--color22);
}
